


.change-color-link {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.change-color-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.change-color-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px; /* Высота линии */
    background-color: #b19830; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */

}


